<% include partials/meta %>
<% include partials/header %>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Quote Details</h1>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= quote.title %></h3>
        </div>

        <div class="panel-body">
          <div class="col-md-6">
            <blockquote>
              <%= quote.body %>
            </blockquote>

            <cite>—<%= quote.author %></cite>
          </div>

          <div class="col-md-6">
            <% if (quote.source || quote.sourceauthor) { %>
              <ul>
                <% if (quote.source) { %>
                  <li>
                    Source: <%= quote.source %>
                  </li>
                <% } %>
                <% if (quote.sourceauthor) { %>
                  <li>
                    Source Author: <%= quote.sourceauthor %>
                  </li>
                <% } %>
              </ul>
            <% } %>
          </div>
        </div>
      </div>

      <div class="row well">
        <div class="col-md-6">
          Created: <%= quote._id.getTimestamp() %>
        </div>

        <div class="col-md-6">
          Modified:
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <a href="/quotes" class="btn btn-default">Back to Quotes</a>
        </div>

        <div class="col-xs-6">
          <a href="/edit/<%= quote._id %>" class="btn btn-default edit-quote">Edit Quote</a>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
