<% include partials/meta %>
<% include partials/header %>

  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Quote Details</h1>
        </div>
      </div>

      <form name="addQuoteForm" action="/quotes/update" method="post">
        <div class="form-group quote-id-field">
          <label for="quoteID">Quote ID</label>
          <input type="text" class="form-control" id="quoteID" name="quoteID" value="<%= quote._id %>">
        </div>

        <div class="form-group">
          <label for="quoteTitle">Title</label>
          <input type="text" class="form-control" id="quoteTitle" name="quoteTitle" value="<%= quote.title %>">
        </div>

        <div class="form-group">
          <label for="quoteBody">Quote</label>
          <textarea class="form-control" id="quoteBody" name="quoteBody" value="<%= quote.body %>"><%= quote.body %></textarea>
        </div>

        <div class="form-group">
          <label for="quoteAuthor">Author</label>
          <input type="text" class="form-control" id="quoteAuthor" name="quoteAuthor" value="<%= quote.author %>">
        </div>

        <div class="form-group">
          <label for="quoteSource">Source</label>
          <input type="text" class="form-control" id="quoteSource" name="quoteSource" value="<%= quote.source %>">
        </div>

        <div class="form-group">
          <label for="quoteSourceAuthor">Source Author</label>
          <input type="text" class="form-control" id="quoteSourceAuthor" name="quoteSourceAuthor" value="<%= quote.sourceauthor %>">
        </div>

        <div class="row action-buttons">
          <div class="col-xs-6">
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/quotes/<%= quote._id %>" class="btn btn-warning">Cancel</a>
          </div>

          <div class="col-xs-6">
            <a href="/quotes/delete/<%= quote._id %>" class="btn btn-danger delete-quote">Delete Quote</a>
          </div>
        </div>
      </form>
    </div>
  </div>

<% include partials/footer %>
<% include partials/scripts %>
